h1,
h2,
p,
ul,
li,
a,
body {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #fdf6e3;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

blockquote {
  margin: 0px;
  padding: 0px;
}

.logo {
  height: 200px;
  margin-top: -60px;
}

.header-bg {
  background: #a8bba5;
  height: 80px;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  justify-content: space-between;
  width: 100%;
}

.header-menu {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: -60px;
  flex-wrap: wrap;
}

.header-menu a {
  padding: 20px;
  color: rgb(9, 68, 9);
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  transition: color 0.3s ease;
}

.header-menu a:hover {
  color: #052e05;
  text-decoration: underline;
}

.hero {
  background-image: url("/img/banner-cannoli.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.hero-texto {
  /* background-color: rgb(9, 68, 9); */
  padding: 30px;
  border-radius: 10px;
  color: #0b3d0b;
  background: #a8bba5;
  color: black;
}

.hero-texto p {
  margin-bottom: 20px;
  /* color: #f0f0f0; */
  font-weight: 400;
  color: #0b3d0b;
  margin-top: 5px;
}

.hero a {
  /* background-color: #fdf6e3; */
  background-color: #0b3d0b;
  /* color: #0b3d0b; */
  color: #fdf6e3;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  margin-top: 12px;
}

.hero a:hover {
  text-decoration: underline;
  background-color: #064c06;
}
.sabores {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 50px;
  padding: 60px;
}

.sabor {
  background: #a8bba5;
  padding: 30px;
  flex: 1 1 150px;
  min-width: 150px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sabor h2 {
  text-align: center;
  font-family: "IBM Plex Mono", monospace;
  margin-bottom: 15px;
}

.sabor img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}

.sabores-container {
  max-width: 1200px;
  margin: 0 auto;
}

.sabores-container h1 {
  text-align: center;
  margin-top: 90px;
  font-family: "IBM Plex Mono", monospace;
  font-size: 4rem;
  color: #5c6e58;
  font-weight: 700;
}

.sabor p {
  font-family: "Roboto", sans-serif;
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: left;
}

.sabor button {
  border: none;
  color: white;
  background-color: #052e05;
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
  align-self: center;
  font-family: "Roboto", sans-serif;
}

.sabor button:hover {
  background-color: #064d06;
  transition: background 0.3s ease;
}

.conteudo-depoimentos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: ce;
}

.img-depoimento img {
  width: 100%;
  border-radius: 16px;
  object-fit: cover;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.depoimentos {
  padding: 60px;
  background-color: #fef9f4;
  border-radius: 12px;
}

.texto-depoimento blockquote {
  margin-bottom: 40px;
  font-style: italic;
  font-size: 1.4rem;
  color: #444;
  border-left: 4px solid #caa37d;
  padding-left: 16px;
  line-height: 1.6;
}

.texto-depoimento {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.depoimentos h1 {
  text-align: center;
  font-size: 2rem;
  color: #5c6e58;
  font-weight: 700;
  font-family: "IBM Plex Mono", monospace;
  margin-bottom: 30px;
}

footer {
  border-top: 2px solid #bfa34a; 
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  align-items: center;
  gap: 40px;
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;

}



.social-media a i {
  font-size: 32px;
  color: #333;
  margin-right: 10px;
}

.social-media a.whatsapp i {
  color: #25d366;
}

.social-media a.facebook i {
  color: #1877f2;
}

.social-media a.instagram i {
  background: linear-gradient(
    45deg,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-container h1 {
  text-align: center;
  font-size: 2rem;
  color: #5c6e58;
  font-weight: 700;
  font-family: "Cinzel", serif;
}

.footer-container p {
  font-family: "IBM Plex Mono", monospace;
  margin-bottom: 20px;
}

.footer-subscribe p {
  font-family: "IBM Plex Mono", monospace;
  margin-bottom: 20px;
}

.footer-list h3 {
  font-family: "Roboto", sans-serif;
}

.footer-subscribe h3 {
  font-family: "Roboto", sans-serif;
}

.footer-list li {
  margin-bottom: 10px;
}

.footer-list li a {
  color: #052e05;
  font-family: "IBM Plex Mono", monospace;
  font-size: 20px;
}

.input-group input[type="email"] {
  padding: 8px;
  width: 220px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 70%;
  margin-right: 8px;
}

.input-group button {
  padding: 8px 12px;
  margin-left: 8px;
  border: none;
  border-radius: 6px;
  background-color: #5c6e58;
  color: white;
  cursor: pointer;
  font-size: 18px;
}

.footer-copy{
display: flex;
justify-content: center;
margin-top: 30px;
  font-family: "IBM Plex Mono", monospace;

}

.input-group button:hover {
  background-color: #128c7e; /
}

@media (max-width: 870px) {
  .sabores {
    flex-direction: column;
    align-items: center;
  }

  .header-bg {
    background: none;
    padding-bottom: 120px;
  }

  .header-menu a {
    font-size: 12px;
  }
}
